#booking-body {
    background: $third-color;
}

#booking-main {
    margin: 1.5rem auto 0;
    max-width: auto;
}

.booking-seats-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1.5rem;
}

.booking-box-header {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 37.5%);
    margin-bottom: 3rem;
}

.dot {
    &__step{
        height: 42px;
        width: 42px;
        background: $third-color;
        border-radius: 50%;
        display: inline-block;
        color: $primary-color;
        text-align: center;
        font-size: 1.25rem;
        padding-top: 0.35rem;
        margin-right: 1rem;
        font-weight: $font-weight-bold;
    }

    &__occupied{
        height: 24px;
        width: 24px;
        background: $primary-color;
        border-radius: 50%;
        padding-top: 0.35rem;
        margin-right: 1rem;
    }

    &__not-occupied{
        height: 24px;
        width: 24px;
        background: $third-color;
        border-radius: 50%;
        padding-top: 0.35rem;
        margin-right: 1rem;
    }
}

.luggage-box {
    display: inline-block;

    &__h1{
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
    }
}

.choose-luggage-size{
    
    &__header {
        display: flex;
        align-items: center;
    }

    &__h2 {
        font-size: 1rem;
        font-weight: $font-weight-bold;
        color: black;
    }

    &__p {
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        color: $grey;
    }

    &__grid {
        display: grid;
        justify-items: center;
        margin: 2rem 0 3rem;
        grid-template-columns: repeat(3, 3fr);
        grid-gap: 1rem;
        max-width: 700px;

        &__small {
            width: 175px;
            height: 150px;
            color: $white;
            background:$primary-color;
            background-image: url('/svg/luggalewhite.svg');
            background-repeat: no-repeat;
            background-position: 50% 1rem;
            cursor: pointer;

            &__description{
                padding-top: 4rem;
                display: inline-block;
            }
        }

        &__medium {
            width: 175px;
            height: 150px;
            color: $white;
            background: $third-color;
            background-image: url('/svg/luggageblue.svg'),
                              url('/svg/luggageblue.svg');
            background-repeat: no-repeat,
                               no-repeat;
            background-position: 38% 1rem,
                                 62% 1rem;
            cursor: pointer;

            &__description{
                padding-top: 4rem;
                display: inline-block;
            }
        }

        &__large {
            width: 175px;
            height: 150px;
            color: $white;
            background: $third-color;
            background-image: url('/svg/luggageblue.svg'),
                              url('/svg/luggageblue.svg'),
                              url('/svg/luggageblue.svg');
            background-repeat: no-repeat,
                               no-repeat,
                               no-repeat;
            background-position: 25% 1rem,
                                 50% 1rem,
                                 75% 1rem;
            cursor:pointer;

            &__description {
                padding-top: 4rem;
                display: inline-block;
            }
        }
    }
}

.seats-box {
    &__header {
        display: flex;
        align-items:center;
    }
}

.seats-box-plane {
    margin: 4rem 0 3rem 0;
}

.seats-occupation-legend{
    margin-top: 4rem;
    display:flex;
    justify-content: space-evenly;

    &__occupied, &__not-occupied{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-weight: $font-weight-bold;
    }
}