.form-box {
    // width: 720px;
    // height: 320px;
    background: $white;
    border-radius: 4px;
    border-color: $gray;
    // box-sizing: border-box;
}

.dark {
    background-image: url('/svg/logo.svg');
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

// .button{
//     width: 328px;
//     height: 52px;
//     padding: 1rem;
//     font-size: 1rem;
//     font-family: $font-family;
//     color: $grey;

//     &__confirm-button {
//         font-size: 1rem;
//         font-family: $font-family;
//         height: 57px;
//         max-width: auto;
//         grid-column: 1 / span 2;
//         grid-row: 3;
//         background: $primary-color;
//         color: $white;
//         border: none;
//         border-radius: 4px;
//         cursor: pointer;
//     }

//     &__confirm-button::before{
//         content: url(/svg/loupe.svg);
//         display: inline-block;
//         padding-right: 0.625rem;
//         vertical-align: middle;
//         padding-top: 0.5rem;
//     }
// }

.booking-form {
    padding: 1.5rem;
    display: inline-block;
    text-align: center;
    width: 40vw;

    &__h1{
        color: $primary-color;
        font-size: 3rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .form-box {
        background: none;
        border-radius: none;
        border-color: none;
        //width: 50% !important;
        // box-sizing: border-box;
    }
    .booking-form {
        width: 100vw;
        padding: 1rem;
        display: inline-block;
        text-align: center;
    
        &__h1{
            font-size: 2rem;
        }
    
        &__grid {
            display: flex;
            text-align: center;
            flex-direction: column;
            grid-gap: 1rem;
            margin: 1rem;
        }
    }
}