@mixin font($font-family) {
    font-family:$font-family;
    font-size: 2rem;
}

.button {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    font-family: $font-family;
    color: $gray;
    border-radius: 4px;
    border: 1px solid $gray;
    background-repeat: no-repeat;
    background-position: 95%;

    &__confirm-button {
        @include font($font-family);
        min-height: 57px;
        max-width: auto;
        grid-column: 1 / span 2;
        grid-row: 3;
        background: $primary-color;
        color: $white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    &__confirm-button::before {
        content: url(/svg/loupe.svg);
        display: inline-block;
        padding-right: 0.625rem;
        vertical-align: middle;
        padding-top: 0.5rem;
    }

    &__buy-button, &__register-button {
        @include font($font-family);
        background: $white;
        color: $primary-color;
        font-weight: $font-weight;
        border: 1px double $primary-color;
        border-radius: 0.25rem;
        cursor: pointer;

        &__box {
            padding: 1rem;
        }
    }
    
    &__buy-button::before {
        content: url(/svg/bucket.svg);
        display: inline-block;
        padding-right: 0.5rem;
        vertical-align: middle;
        padding-top: 1.25rem;
        background-color: $white;
    }

    &__login-button {
        @include font($font-family);
        width:100%;
        background: $primary-color;
        color: $white;
        font-weight: $font-weight;
        border: 2px solid $primary-color;
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 0.5rem;
    }
    
    
    &__login-button::before {
        content: url(/svg/person-2.svg);
        display: inline-block;
        padding-right: 1rem;
        vertical-align: middle;
        padding-top: 1rem;
        background-color: $primary-color;
        color: $white;
    }

    &__return-button {
        @include font($font-family);
        background: $white;
        color: $primary-color;
        font-weight: $font-weight;
        border: none;
        //border-radius: 0.25rem;
        cursor: pointer;
        position: relative;

    }
    
    &__return-button::before {
        content: url(/svg/returnarrow.svg);
        display: inline-block;
        padding-right: 0.5rem;
        vertical-align: middle;
        padding-top: 1rem;
        background-color: $white;
    }
}

@mixin passenger-inputs($gray) {
    border: 1px solid $gray;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 95%;
    font-size: 1.5rem;
}

.input-field{
    @include passenger-inputs($gray);
}

.passenger-input {
    background-image: url('/svg/person.svg');
    @include passenger-inputs($gray); 
}

.password-input {
    background-image: url('/svg/eye.svg');
}

@media screen and (max-width: 768px){
    .button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        font-family: $font-family;
        color: $gray;
        border-radius: 4px;
        border: 1px solid $gray;
        background-repeat: no-repeat;
        background-position: 95%;

        &__confirm-button {
            @include font($font-family);
            min-height: 57px;
            max-width: auto;
            grid-column: 1 / span 2;
            grid-row: 3;
            background: $primary-color;
            color: $white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        &__confirm-button::before {
            content: url(/svg/loupe.svg);
            display: inline-block;
            padding-right: 0.625rem;
            vertical-align: middle;
            padding-top: 0.5rem;
        }
}}

// .button{
//     width: 328px;
//     height: 52px;
//     padding: 1rem;
//     font-size: 1rem;
//     font-family: $font-family;
//     color: $gray;

//     &__confirm-button {
//         font-size: 1rem;
//         font-family: $font-family;
//         height: 57px;
//         max-width: auto;
//         grid-column: 1 / span 2;
//         grid-row: 3;
//         background: $primary-color;
//         color: $white;
//         border: none;
//         border-radius: 4px;
//         cursor: pointer;
//     }

//     &__confirm-button::before{
//         content: url(/svg/loupe.svg);
//         display: inline-block;
//         padding-right: 0.625rem;
//         vertical-align: middle;
//         padding-top: 0.5rem;
//     }
// }

// .buy-button {
//     background: $white;
//     font-family: $font-family;
//     font-size: 1rem;
//     color: $primary-color;
//     font-weight: 600;
//     border: 2px solid $primary-color;
//     border-radius: 0.25rem;
//     cursor: pointer;
// }


// .buy-button::before{
//     content: url(/svg/bucket.svg);
//     display: inline-block;
//     padding-right: 0.5rem;
//     vertical-align: middle;
//     padding-top: 0.75rem;
//     background-color: $white;
// }