a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem;
    background: $primary-color;
}

.logo {
    cursor: pointer;
}

.nav-area {
    list-style: none;

    li {
        display: inline-block;
        padding: 0 1rem;
        text-transform: uppercase;

        a {
            transition: 0.4s;
            color: #fff;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}